.env*
.git/**
**/node_modules
**/__pycache__
**.DS_Store
.idea/
.*
**/*.swp
dist/
log/
venv/
frontend/dist/
frontend/dist-dev/
frontend/static/
notebooks/
deploy/
**/*.log
world/data/
.scrapy/
**/.parcel-cache
