.env*
.git/**
**/node_modules
**/__pycache__
**.DS_Store
.idea/
.*
dist/**
dist-dev/**
fly.toml
Dockerfile
frontend/dist/**
**/*.log
venv/**
world/data/
.scrapy/**
frontend/dist/temp_computed_imgs/**
**/.parcel-cache
