{% extends "base.html" %}
{% load static %}

{% block head %}
    <!-- Ol.CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css" type="text/css">
    <!-- Ol.Js -->
{#    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>#}
    <style>
     .map{
         min-height:90vh;
         width:100%;
         height:100%;
     }
    </style>
{% endblock %}

{% block content %}
    <div id="map" class="map" tabindex="0"></div>
{% endblock %}

{% block endbody %}
    <script src="/frontend/map.js"></script>
    <script>

    </script>

{% endblock %}
