{% extends "base.html" %}
{% load static %}

{% block head %}
    <!-- Ol.CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css" type="text/css">
    <!-- Ol.Js -->
{#    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>#}
    <style>
     .map{
         width:400px;
         height:400px;
     }
    </style>
{% endblock %}

{% block content %}
    <div id="map" class="map" tabindex="0"></div>
{% endblock %}
{#        // {{ parcel_data|json_script:"parcelData" }}#}

{% block endbody %}
    <script>
        let parcelData = {{ parcel_data | safe}};
        let buildingData = {{  building_data | safe }};
    </script>
    <script src="/frontend/parcel-detail.js"></script>
    <script>

    </script>

{% endblock %}
