{% extends "admin/change_form.html" %}

{% block extrahead %}
  {{ block.super }}
  {#  {{ parcel_media }} #}
  {{ inline_media }}
{% endblock %}
{% block content %}
  {{ block.super }}
{% endblock %}

{% block inline_field_sets %}
  {{ block.super }}     {# Show normal inlines first via super call #}
  {# Add our extra inlines (from Home3Admin class) #}
  {% for field_name, field_form in inline_forms.items %}
    <h2>{{ field_name | title }}</h2>

    {% for fieldset in field_form %}
      {% include "admin/includes/fieldset.html" %}
    {% endfor %}

  {% endfor %}


{% endblock %}


{% block submit_buttons_bottom %}{% endblock %}
