{% extends "admin/base_site.html" %}
{#  See base at https://github.com/django/django/blob/main/django/contrib/admin/templates/admin/change_list.html #}
{% load static %}

{% block dark-mode-vars %}{% endblock %}
{% block extrastyle %}
  {#  {{ block.super }}#}
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet"/>
  <style>
      .theme-toggle { /* disable dark mode toggle */
          display: none;
      }

      #map {
          aspect-ratio: 1 / 1;
          max-height: 70vh;
          width: 100%;
      }

      #menu {
          background: #fff;
          position: relative;
          z-index: 1;
          top: 10px;
          right: 10px;
          border-radius: 3px;
      {#width: 120px;#}{#border: 1px solid rgba(0, 0, 0, 0.4);#} font-family: 'Open Sans', sans-serif;
      }

      #menu a {
          font-size: 13px;
          color: #404040;
          margin: 5px;
          padding: 5px;
          text-decoration: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.25);
          text-align: center;
      }

      #menu a:last-child {
          border: none;
      }

      #menu a:hover {
          background-color: #f8f8f8;
          color: #404040;
      }

      #menu a.active {
          background-color: #3887be;
          color: #ffffff;
      }

      #menu a.active:hover {
          background: #3074a4;
      }
  </style>
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
  <!-- Load the `mapbox-gl-geocoder` plugin. -->
  <script
    src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
        type="text/css">

{% endblock %}

{% block content %}
  <div>
    <nav id="menu" style="display:flex;">
      <div id="menu-insert"></div>
      <fieldset style="display:flex; align-items:center; border-top:none">
        <input type="radio" id="he1-radio" name="he_select" value="m1_zoning" checked style="margin:0 5px 0 10px">
        <label for="he1-radio">HE 1</label>
        <input type="radio" id="he2-radio" name="he_select" value="m2_zoning" style="margin:0 5px 0 10px">
        <label for="he2-radio">HE 2</label>
        <input type="radio" id="he3-radio" name="he_select" value="m3_zoning" style="margin:0 5px 0 10px">
        <label for="he3-radio">HE 3</label>
        <input type="radio" id="no-he-radio" name="he_select" value="none" style="margin:0 5px 0 10px">
        <label for="no-he-radio">No HE</label>
      </fieldset>
      <fieldset style="display:flex; align-items:center; border-top:none">
        <input type="number" id="min-lot-size" name="min_lot_size" value="0" style="margin:0 5px 0 20px; width:60px;">
        <label for="min_lot_size">Min lot size (sq ft)</label>
      </fieldset>
    </nav>
    <div id="map"></div>
  </div>
{% endblock %}

{% block footer %}
  {#  {{ block.super }}#}
  <script>
      // keep mapbox token in backend codebase.
      // NOTE : this is mapbox's public token.
      mapboxgl.accessToken = 'pk.eyJ1Ijoibmlsc2hvbWUzIiwiYSI6ImNsOHJtbDFtbDI2Znkzb3RvdDV0emhmamEifQ.rkpWuotqi4HacN2QUoWkgg';
      console.log("MAPBOX SCRIPT")
      const bounds = [
          [-122.66336, 37.492987], // Southwest coordinates
          [-122.050481, 37.871651] // Northeast coordinates
      ];

      function debounce(func, delay) {
          let timeoutId;

          return function (...args) {
              // Clear any existing timeouts
              if (timeoutId) {
                  clearTimeout(timeoutId);
              }

              // Set up a new timeout to execute the function after the delay
              timeoutId = setTimeout(() => {
                  func.apply(this, args);
              }, delay);
          };
      }

      const map = new mapboxgl.Map({
          container: 'map',
          // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
          // https://docs.mapbox.com/api/maps/styles/#mapbox-styles
          style: 'mapbox://styles/mapbox/light-v11', // mapboxStyle
          center: [-122.47, 37.76],
          zoom: 15,
          maxBounds: bounds,
      });
      // Add the control to the map.
      map.addControl(
          new MapboxGeocoder({accessToken: mapboxgl.accessToken, mapboxgl: mapboxgl})
      );
      map.addControl(new mapboxgl.FullscreenControl());

      let layervisinit = {}

      // Set up mabox expressions to provide coloring based on data
      // mapbox expressions: https://docs.mapbox.com/mapbox-gl-js/style-spec/expressions/
      const oppcat = ['get', 'oppcat'];
      const resourceTest = [
          ['==', oppcat, 'High Segregation & Poverty'],
          ['==', oppcat, 'Low Resource'],
          ['==', oppcat, 'Moderate Resource'],
          ['==', oppcat, 'High Resource'],
          ['==', oppcat, 'Highest Resource']
      ]
      const heTest = (he_plan) => { // he_plan should be "m1_zoning", "m2_zoning", "m3_zoning"
          const zoning = ['get', he_plan];
          return [
              ['==', zoning, 0],  // A140HeightAllowed
              ['==', zoning, 1],  // A240HeightAllowed
              ['==', zoning, 2],  // A55HeightAllowed
              ['==', zoning, 3],  // A65HeightAllowed
              ['==', zoning, 4],  // A85HeightAllowed
              ['==', zoning, 5],  // AddedHeightInExistingFormBasedArea
              ['==', zoning, 6],  // IncreasedDensityUpToFourUnitsSixUnitsOnCornerLots
              ['==', zoning, 7],  // NoHeightChangeDensityDecontrol
          ]
      }
      const heZoningName = ["140 feet", "240 feet", "55 feet", "65 feet", "85 feet", "Extra height in existing...",
          "Up to 4 units (6 on corner lot)", "Density decontrol"]
      const paintExpression = (he_plan) => {
          const noHe = ['!', ['any', ...heTest(he_plan)]]
          const heVal = heTest(he_plan);
          return {
              'fill-opacity': ['case', noHe, 0.0, 0.4],
              'fill-color': ['case',
                  heVal[6], '#39639c', // Up to 4 units (6 on corner lot)
                  heVal[7], '#89b3cf', // Density decontrol
                  heVal[2], '#dedf00', // 55 ft
                  heVal[3], '#fab037', // 65 ft
                  heVal[4], '#fd7100', // 85 ft
                  heVal[0], '#fc3600', // 140 ft
                  heVal[1], '#c50600', // 240 ft

                  heVal[5], '#485b34', // (not in HE map) Added Height, existing form based area
                  '#303030'
              ]
          }
      }

      function refreshFilterSourcesAndLayers(paramStr) {
          if (map.getLayer('sf_yigby_elt_analysis')) {
              map.removeLayer('sf_yigby_elt_analysis');
          }
          if (map.getSource('sf_yigby_elt_analysis_src')) {
              map.removeSource('sf_yigby_elt_analysis_src');
          }
          map.addSource('sf_yigby_elt_analysis_src', {
              'type': 'vector',
              'tiles': ['http://localhost:8000/dj/elt/api/tile/elt_analysis/sf/yigby/{z}/{x}/{y}' + paramStr],
              'minzoom': 11,
              'maxzoom': 18
          });
          map.addLayer({
              'id': 'sf_yigby_elt_analysis', // Layer ID
              'type': 'fill',
              'source': 'sf_yigby_elt_analysis_src',
              'source-layer': 'elt_analysis',
              'paint': {
                  'fill-opacity': 1,
                  'fill-color': '#20ff00',
              }
          });

      }

      map.on('load', () => {
          // -------------------------------------------------------------------
          // tile layers
          console.log("Map on load")
          // Sources here are making requests against elt/views.py

          map.addSource('raw_sf_zoning_src', {
              'type': 'vector',
              'tiles': ['http://localhost:8000/dj/elt/api/tile/raw_sf_zoning/{z}/{x}/{y}'],
              'minzoom': 11,
              'maxzoom': 18
          });
          map.addSource('raw_sf_zoning_height_bulk_src', {
              'type': 'vector',
              'tiles': ['http://localhost:8000/dj/elt/api/tile/raw_sf_zoning_height_bulk/{z}/{x}/{y}'],
              'minzoom': 11,
              'maxzoom': 18
          });
          map.addSource('raw_cali_resource_level_src', {
              'type': 'vector',
              'tiles': ['http://localhost:8000/dj/elt/api/tile/raw_cali_resource_level/{z}/{x}/{y}'],
              'minzoom': 11,
              'maxzoom': 18
          });
          map.addLayer({
              'id': 'resource_level', // Layer ID
              'type': 'fill',
              'source': 'raw_cali_resource_level_src',
              'source-layer': 'raw_cali_resource_level',
              'paint': {
                  'fill-opacity': 0.5,
                  'fill-color': ['case',
                      resourceTest[0], '#801000',
                      resourceTest[1], '#FF0000',
                      resourceTest[2], '#FFA500',
                      resourceTest[3], '#FFFF00',
                      resourceTest[4], '#00FF00',
                      '#3030a0'
                  ]
              }
          });
          map.addLayer({
              'id': 'zoning_poly', // Layer ID
              'type': 'fill',
              'source': 'raw_sf_zoning_src',
              'source-layer': 'raw_sf_zoning',
              'paint': {'fill-opacity': 0}
          });
          map.addLayer({
              'id': 'zoning', // Layer ID
              'type': 'line',
              'source': 'raw_sf_zoning_src',
              'source-layer': 'raw_sf_zoning',
              'paint': {'line-width': 3, 'line-color': '#a0a050'}
          })
          map.addLayer({
              'id': 'zoning_height_poly', // Layer ID
              'type': 'fill',
              'source': 'raw_sf_zoning_height_bulk_src',
              'source-layer': 'raw_sf_zoning_height_bulk',
              'paint': {'fill-opacity': 0}
          });
          map.addLayer({
              'id': 'zoning_height', // Layer ID
              'type': 'line',
              'source': 'raw_sf_zoning_height_bulk_src',
              'source-layer': 'raw_sf_zoning_height_bulk',
              'paint': {'line-width': 4, 'line-color': '#4040a0'}
          })
          map.addLayer({
              'id': 'zoning_labels', // Layer ID
              'type': 'symbol',
              'source': 'raw_sf_zoning_src',
              'source-layer': 'raw_sf_zoning',
              'paint': {
                  'text-color': '#808040',
                  'text-halo-width': 5,
                  'text-halo-color': 'rgba(255, 255, 255, 0.8)'
              },
              'layout': {
                  'text-field': ['get', 'zoning'],
                  'text-anchor': 'center',
                  'text-justify': 'center',
                  'text-size': 16,
              },
          })
          map.addLayer({
              'id': 'zoning_height_labels', // Layer ID
              'type': 'symbol',
              'source': 'raw_sf_zoning_height_bulk_src',
              'source-layer': 'raw_sf_zoning_height_bulk',
              'paint': {
                  'text-color': '#303070',
                  'text-halo-width': 5,
                  'text-halo-color': 'rgba(255, 255, 255, 0.8)'
              },
              'layout': {
                  'text-field': ['get', 'gen_height'],
                  'text-anchor': 'center',
                  'text-justify': 'center',
                  'text-size': 15,
              },
          })

          map.addSource('raw_sf_parcel_wrap_src', {
              'type': 'vector',
              'tiles': ['http://localhost:8000/dj/elt/api/tile/raw_sf_parcel_wrap/{z}/{x}/{y}'],
              'minzoom': 12,
              'maxzoom': 17
          });


          // create parcel poly layer so we can click on it
          map.addLayer({
              'id': 'parcel_wrap_poly',
              'type': 'fill',
              'source': 'raw_sf_parcel_wrap_src',
              'source-layer': 'raw_sf_parcel_wrap',
              'paint': paintExpression('m1_zoning')
          });

          map.addLayer({
              'id': 'parcel_wrap', // Layer ID
              'type': 'line',
              'source': 'raw_sf_parcel_wrap_src',
              'source-layer': 'raw_sf_parcel_wrap',
          })


          for (layer in layervisinit) {
              map.setLayoutProperty(layer, 'visibility', layervisinit[layer]);
          }

          refreshFilterSourcesAndLayers("")
      })
      ;

      const menu = document.getElementById('menu-insert');

      // create layer toggles
      for (const btn of [
          ['Parcel', true, 'parcel_wrap'],
          ['Zoning', false, 'zoning', 'zoning_height', 'zoning_labels', 'zoning_height_labels'],
          ['Resource Areas', false, 'resource_level']
      ]) {
          const link = document.createElement('a');
          link.id = btn[0] + '_toggle';
          link.href = '#';
          link.textContent = btn[0];
          // initialize button and layer to active or disabled depending on btn[1]
          if (btn[1]) {
              link.className = 'active';
          }
          const layers = btn.slice(2)
          for (const layer of layers) {
              layervisinit[layer] = btn[1] ? 'visible' : 'none';
          }
          // Show or hide layer when the toggle is clicked.
          link.onclick = function (e) {
              {#const clickedLayer = this.textContent;#}
              e.preventDefault();
              e.stopPropagation();
              {#console.log("Clicked layer:", clickedLayer)#}
              const layers = btn.slice(2)
              this.className = this.className === 'active' ? '' : 'active';
              const visibility = this.className === 'active' ? 'visible' : 'none';
              for (const layer of layers) {
                  map.setLayoutProperty(layer, 'visibility', visibility);
              }
          }
          menu.appendChild(link);
      }
      // create HE selector


      // -------------------------------------------------------------------
      // Event handlers

      // handle clicks on parcels
      map.on('click', (e) => {
          {#console.log("Click", e)#}
          // Set `bbox` as reactangle area around clicked point.
          {#const coordinates = [e.features[0].geometry.coordinates.slice();]#}
          const bbox = [
              [e.point.x - 1, e.point.y - 1],
              [e.point.x + 1, e.point.y + 1]
          ];
          // Find features intersecting the bounding box.
          const selectedFeatures = map.queryRenderedFeatures(bbox);

          console.log("Selected features:", selectedFeatures);
          const features = selectedFeatures.toReversed().map((feature) => {
              console.log("Feature:", feature)
              const p = feature.properties
              switch (feature.layer.id) {
                  case 'parcel_wrap_poly':
                      const addr = p.from_addre ? `${p.from_addre}-${p.to_address} ${p.street_nam} ${p.street_typ}`
                          : '[no address]'
                      return `<p><a href='/dj/admin/elt/rawsfparcelwrap/${p.apn}'>Parcel: ` +
                          `${p.apn}:${p.zoning_cod} : ${addr}</a>` +
                          `<br />HE plan 1: ` + (heZoningName[p.m1_zoning] || "None") +
                          `<br />HE plan 2: ` + (heZoningName[p.m2_zoning] || "None") +
                          `<br />HE plan 3: ` + (heZoningName[p.m3_zoning] || "None") +
                          "</p>"
                  case 'zoning_poly':
                      return `<p>Zoning: ${p.zoning} : ${p.gen} : ${p.codesection} : ${p.districtname}</p>`
                  case 'zoning_height_poly':
                      return `<p>Zoning Height/Bulk: ${p.height} : ${p.gen_height}</p>`
                  case 'resource_level':
                      return `<p>Resource Area: ${p.oppcat}, fips=${p.fips}</p>`
              }

              {#popup.setLngLat(e.lngLat).setHTML(feature.properties.description).addTo(map);#}
          })
          new mapboxgl.Popup({maxWidth: "none"})
              .setLngLat(e.lngLat)
              .setHTML(features.join(''))
              .addTo(map);
      });

      // change pointer styles with hovering.
      map.on('mouseenter', 'parcel_poly', (e) => {
          map.getCanvas().style.cursor = 'pointer';
      });
      map.on('mouseleave', 'parcel_poly', (e) => {
          map.getCanvas().style.cursor = '';
      });

      // Add event listener for housing element radio buttons
      document.addEventListener("DOMContentLoaded", function () {
          var radioButtons = document.getElementsByName("he_select");
          for (var i = 0; i < radioButtons.length; i++) {
              radioButtons[i].addEventListener("click", function () {
                  console.log("You have selected color: " + this.value);
                  const layerPaint = paintExpression(this.value);
                  map.setPaintProperty('parcel_wrap_poly', 'fill-opacity', layerPaint['fill-opacity']);
                  map.setPaintProperty('parcel_wrap_poly', 'fill-color', layerPaint['fill-color']);
              });
          }
      });

      // Add event listener for minimum lot size, refreshing layer
      // Debounce to reduce spurious api calls
      document.getElementById('min-lot-size').addEventListener('input', debounce(function (e) {
          console.log("You have selected min lot size: " + e.target.value);
          var minLotSize = e.target.value;
          refreshFilterSourcesAndLayers("?min_lot_size=" + encodeURIComponent(minLotSize));
      }, 500));

      // unused stuff:
          {#map.setPaintProperty('sf_yigby_elt_analysis', 'fill-opacity', 1);#}
      /* map.on('moveend', (e) => {
          const bounds = map.getBounds();
          {#console.log('A moveend event occurred. bounds=', bounds);#}
      });
      map.on('idle', () => {
          const bounds = map.getBounds();
          {#console.log('A idle event occurred. bounds=', bounds);#}

      });*/
  </script>


{% endblock %}
